*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR'
}
body{
    width: 100vw;
    height: 100vh;
    margin: 0;
}
#container{
    display: grid;
    grid-template-rows: 100px 595px 50px;
    background-color: beige;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav{
    display: grid;
    grid-template-columns: 1fr 5.5fr 1fr;
    background-color: white;
}
.nDiv{
    justify-content: center;
    align-items: center;
}
#logo{
    float: right;
    object-fit: contain;
}
.content{
    display: grid;
    grid-template-columns: 1fr 5.5fr 1fr;
}
.cCenter{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#ccGridL{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-left: 20px;
}
#tDivL{
    display: flex;
    align-items: self-end;
}
#mText{
    font-weight: 400;
    font-size: 45px;
    margin: 0 0 10px 0;
}
#sText{
    margin: 10px 0 0 0;
}
#ccGridR{
    display: flex;
    width: 120%;
    justify-content: center;
    align-items: center;
}
#posture{
    width: 100%;
    object-fit: contain;
}

/* 알림 메시지 스타일 */
#notification {
    display: none;
    position: fixed;
    top: 20px; /* 화면의 맨 위에서 20px 아래에 위치 */
    left: 50%; /* 화면의 가로 중앙에 위치 */
    transform: translateX(-50%); /* 요소의 가로 크기만큼 반 이동하여 가로 정렬 */
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    font-family: 'Noto Sans KR', sans-serif;
}


