*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f9f9f9;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    align-items: center;
    padding: 15px 20px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.header .logo-link {
    display: flex; /* a 태그 안의 요소도 Flexbox 사용 */
    align-items: center; /* a 태그 안에서 img를 세로 가운데 정렬 */
    height: 100%; /* 부모 높이에 맞추기 */
}
.header .logo {
    width: 60%;
    height: auto;
}
.brand{
    margin-left: -40px;
    color: #b9bc98;
    font-weight: bold;
    font-size: 20px;
}
.container{
    margin-top: 10px;
    padding: 10px 40px;
    flex: 1;    /* with = body - .header */
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 50px;
    padding: 40px;
    background-color: #f9f9f9;
}
.box{
    /* border: 1px solid blueviolet; */
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    /* padding: 20px 40px; */
    height: auto;
    margin: 0;
}
.main{
    align-items: center;
    justify-content: center;
}
.main-box-top {
    /* border: 1px solid black; */
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 40px;
}
.slogan-box {
    /* border: 1px solid black; */
    padding: 20px 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* 세로 가운데 정렬 */
    gap: 10px; /* 문장 간격 추가 */
    background-color: #f2f5c3;
}
.slogan{
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 5px;
}
.slogan-explain{
    font-size: 16px;
}
.yoga-img-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 두 개의 열로 구성 */
    gap: 10px; /* 이미지 간격 추가 */
}
.yoga-img {
    width: 100%; /* 부모 요소의 너비에 맞춤 */
    height: 100%; /* 부모 요소의 높이에 맞춤 */
    object-fit: contain; /* 이미지 비율을 유지하며 컨테이너 안에 맞춤 */
    border-radius: 10px; /* 선택 사항 */
}

.right{
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.white-box{
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.title{
    font-weight: bold;
}