<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SYC</title>
    <!-- css -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- javascript -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
    <!-- banner -->
    <div class="header">
        <a href="#" class="logo-link">
            <img src="../static/img/logo.png" alt="logo" class="logo">
        </a>
        <p class="brand">Smart Yoga Club</p>
    </div>
    <!-- main contents -->
    <div class="container">
        <!-- left box -->
        <div class="main box">
            <!-- slogan box -->
            <div class="main-box-top">
                <div class="slogan-box">
                    <p class="slogan">
                        "운동, 이제는 쉽고 스마트하게"
                    </p>
                    <p class="slogan-explain">
                        운동 기록 저장과 분석, 얼굴 인식을 통한 간편한 로그인, 카메라 기반 실시간 자세 교정 피드백까지<br>
                        최첨단 AI 기술을 활용해 요가를 스마트하고 정확하게 즐기며, 건강과 즐거움을 동시에 누리세요.
                    </p>
                </div>
                <div class="yoga-img-box">
                    <img src="../static/img/yoga_posture.png" alt="" class="yoga-img">
                    <img src="../static/img/yoga_posture2.png" alt="" class="yoga-img">
                </div>
            </div>
        </div>
        <!-- right box -->
        <div class="right box">
            <!-- sign up -->
            <div class="white-box">
                <div class="title-box">
                    <p class="title">1️⃣ 회원가입</p>
                </div>
                <div class="title-explain-box">
                    <p class="title-explain">
                        카메라를 향해 검지만 펼친 다음 아이디를 입력하세요.<br>
                        아이디를 입력한 후, 얼굴 촬영을 위해 카메라를 쳐다보세요.
                    </p>
                </div>
            </div>
            <!-- login -->
            <div class="white-box">
                <div class="title-box">
                    <p class="title">2️⃣로그인</p>
                </div>
                <div class="title-explain-box">
                    <p class="title-explain">
                        요가 선택 홈페이지에서 검지, 중지, 약지를 펼쳐주세요.<br>
                        그럼 메인 화면으로 넘어가면서 자동적으로 로그아웃이 됩니다.
                    </p>
                </div>
            </div>
            <!-- log out -->
            <div class="white-box">
                <div class="title-box">
                    <p class="title">3️⃣ 로그아웃</p>
                </div>
                <div class="title-explain-box">
                    <p class="title-explain">
                        요가 선택 홈페이지에서 검지, 중지, 약지를 펼쳐주세요.<br>
                        그럼 메인 화면으로 넘어가면서 자동적으로 로그아웃이 됩니다.
                    </p>
                </div>
            </div>
            <!-- yoga.html로 이동 -->
            <div class="white-box">
                <div class="title-box">
                    <p class="title">4️⃣ 요가 자세 재선택<</p>
                </div>
                <div class="title-explain-box">
                    <p class="title-explain">
                        요가 자세 동작 중 손바닥을 펼치면 기존의 요가 게임이 중단되고,<br>
                        요가 자세를 재선택할 수 있는 페이지로 이동됩니다.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Notification Mesh -->
    <div class="notification">
        <span class="notificationText"></span>
    </div>
</body>
</html>