<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SYC</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='js/main_finger.js') }}"></script> -->
</head>
<body>
    <div id="container">
        <div class="item nav">
            <div class="nDiv nLeft">
                <a href="#" id="logo-link">
                    <img src="/static/img/logo.png" id="logo">
                </a>
            </div>
            <div class="nDiv nCenter"></div>
            <div class="nDiv nRight"></div>
        </div>
        <div class="item content">
            <div class="cDiv cLeft"></div>
            <div class="cDiv cCenter">
                <div id="ccGridL">
                    <div id="tDivL">
                        <p id="mText">
                            누구나 쉽고<br>
                            재미있고 정확하게
                        </p>
                    </div>
                    <div id="tDivR">
                        <p id="sText">
                            단계별 미션 형식으로 쉽고 재미있게 즐기며<br>
                            AI를 활용한 전문적인 피드백으로 운동 효과 상승을 기대할 수 있습니다.
                        </p>
                    </div>
                </div>
                <div id="ccGridR">
                    <img src="/static/img/yoga_posture.png" alt="" id="posture">
                </div>
            </div>
            <div class="cDiv cRight"></div>
        </div>
        <div class="item footer"></div>
    </div>

    <!-- 알림 메시지 요소 -->
    <div id="notification">
        <span id="notificationText"></span>
    </div>

    <!-- <script src="/static/js/main.js"></script> -->
</body>
</html>